// whole page container

.car-show-container {
  color: black;
  width: 100%;

    button {
      width: 100%;
      border: 1px solid black;
      background: #fff;
      cursor: pointer;
      color: #231f20;
      font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
      font-weight: 700;
      height: 34px;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: 0.5s;    
    }

    button:hover {
      background-color: #e2e2e2;
    }
}

// image banner

.car-show-img-banner {
  display: block;
  height: 95vh;
  width: 100%;
  position: relative;
}

// main section wrapping left and right panels

.car-show-main-section {
  display: flex;
  justify-content: space-around;
}

// left section

.car-show-left-container {


  // begin grid

.item-1 {
  grid-area: g-car-l;
}
.item-2 {
  grid-area: g-car-c;
}
.item-3 {
  grid-area: g-host-l;
}
.item-4 {
  grid-area: g-host-c;
}
.item-5 {
  grid-area: g-desc-l;
}
.item-6 {
  grid-area: g-desc-c;
}
.item-7 {
  grid-area: g-feat-l;
}
.item-8 {
  grid-area: g-feat-c;
}

.car-show-grid-container {
  justify-content: left;
  display: grid;
  grid-template-columns: 118px 100%;
  grid-template-areas: 
  "g-car-l g-car-c"
  "g-host-l g-host-c"
  "g-desc-l g-desc-c"
  "g-feat-l g-feat-c";
}

// end grid

.car-show-left-sec {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}


  .car-show-title {
    flex: 0 1 auto;
    font-family: Freight, HoeflerText-Black, Times New Roman, serif;  
    font-weight: 600;
    line-height: 1.2;
    min-width: 0;
    font-size: 36px;
    text-transform: uppercase;
  }

  .car-show-year {
    font-family: Freight, HoeflerText-Black, Times New Roman, serif;
    font-size: 32px;
    font-weight: 200;
  }

  .car-show-left-full-star {
      background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/review-full-star.png?raw=true');
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      margin-right: 4px;
      float: left;
  }

  .car-show-left-half-star {
      background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/review-full-star.png?raw=true');
      background-size: 20px 20px;
      height: 20px;
      width: 20px;
      margin-right: 4px;
  }

  .car-show-star-inner {
    overflow: hidden;
    width: 100%;
  }
  
  .car-show-star-wrapper {
    overflow: hidden;
    width: 200px;
  }

  .car-show-host {

  }

  .car-show-desc {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  
}

// right panel

.car-show-right-container {
  border-bottom: 1px solid #e6e6e6;
  width: 18%;

  .car-show-rental {
    padding: 10px 10px;
  }  

  .car-show-price {
    // font-family: Freight,HoeflerText-Black,Times New Roman,serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0 5px;    
    font-size: 62px;
  }

  .car-show-usd {
    // font-family: Plantin,AmericanTypewriter-Condensed,Times New Roman,serif;
    font-family: Times New Roman,serif;
    font-size: 24px;
    font-weight: 400;
    line-height: .8;
    margin: 15px 0 0 5px;
    vertical-align: top;
  }

  .car-show-per-day {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1px;
    text-align: right;
  }

    .car-show-distance-container {

      .car-show-distance-header {
        text-transform: uppercase;
        color: #5d5d5d;
        font-size: 13px;
        font-family: BasisBold, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 500;
        border-top: 1px solid #e6e6e6;
        padding-top: 20px;
      }

      .car-show-distance {
        display: flex;
        justify-content: space-between;
      }

      .car-show-distance-time {
        color: #231f20;
        font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
      }

      .car-show-distance-mi {
        color: #231f20;
        font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
      }

    }

    .car-show-insurance-container {
      border-bottom: 1px solid #e6e6e6;

      .car-show-insurance-header {
        border-top: 1px solid #e6e6e6;
        font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        color: #5d5d5d;        
        padding-top: 20px;
      }

      .car-show-insurance-co {
        background: transparent;
        border: none;
        color: #59d389;
        font-weight: 700;
        height: auto;
        line-height: unset;
        padding: 0;
        text-align: left;
        white-space: normal;
        font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
        font-size: 16px;       
        line-height: 1.5; 
        padding-top: 10px;
        padding-bottom: 20px;
      }
    }

    .car-show-add-fav-icon {
      width: 16px;
      height: 16px;
    }
  
}

