.car-show-container{
  color: black;
  width: 100%;
}

// image banner

.car-show-img-banner {
  display: block;
  height: 95vh;
  width: 100vw;
  position: relative;
}
// **** main section **** //
// left section

.car-show-left-container {

}
.car-show-right-container {

}



// right panel