// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index 

.car-index-container {
  color: black;
}

.search-filter-btns {
  display: flex;
  justify-content: left;

  button { 
    border: 1px solid black;
    color: #231F20;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 30px;
    padding: 7px 15px ;
    transition: 0.5s;    
  }

  button:hover {
    background-color: #f1f1f1;
  }   
}

.car-map-container {

}

//create

.car-create-container {
  color: black;
}

.car-create-banner {
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/car-create-banner.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 125px;
  background-position: center;
  position: relative;
}

.car-create-banner-text {
  color: #ffffff;
  font-weight: normal;
  font-size: 36px;
  font-family: Plantin,AmericanTypewriter-Condensed,Times New Roman,serif;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 200;
  padding-left: 20%;
  padding-top: 80px;
}

.car-create-form-container {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15px;

  input[type="text"] {
    height: 35px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
  }

  input:focus, textarea:focus, select:focus {
    border: 1px solid #8F63F3;
    outline: none !important; 
  }

  label, h3 {
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 5px;
  }

  h2 {
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 700;
  }

  textarea {
    height: 115px;
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
  }
}

.features-wrapper {
  display: flex; 
  justify-content: space-between;
}

.car-create-submit-btn {
  background-color: #8f63f4;
  border: 1px solid #8f63f4;
  color: #fff;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 34px;
  padding: 0 14px;
  margin: 20px 0;
  cursor: pointer;
}