.feature-awd {
  background-position: -60px -60px;
}
.feature-audio-input {
  background-position: -61px -30px;
}
.feature-bike-rack {
  background-position: 0 -60px;
}
.feature-bluetooth {
  background-position: -91px -30px;
}
.feature-child-seat {
  background-position: -31px 0;
}
.feature-convertible {
  background-position: -30px -60px;
}
.feature-gps {
  background-position: -61px 0;
}
.feature-heated-seats {
  background-position: -121px 0;
}
.feature-longterm-car {
  background-position: -91px 0;
}
.feature-pet-friendly {
  background-position: -91px -60px;
}
.feature-ski-rack {
  background-position: -121px -60px;
}
.feature-snow-tires-chains {
  background-position: -90px -90px;
}
.feature-sunroof {
  background-position: -121px -30px;
}
.feature-toll-pass {
  background-position: -60px -90px;
}
.feature-usb-input {
  background-position: -30px -90px;
}
.feature-mpg {
  background-position: -30px -30px;
}
.feature-seats {
  background-position: -121px -90px;
  color: #231f20;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.feature-doors {
  background-position: 0 -90px;
  color: #231f20;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.feature-auto-trans {
  background-position: 0 -120px;
}
.feature-manual-trans {
  background-position: -30px -120px;
}
.electric-trans {
  background-image: url('https://github.com/fsiino/thuro/blob/master/app/assets/images/feature-electric.png?raw=true');
  background-size: 27px 21px;
  width: 27px;
  height: 21px;
  margin-left: 6;
  margin-right: 3px;
  display: inline-block;
}
.feature-other {
  background-position: 0 0;
}

[class*="feature-"] {
  background-image: url('https://github.com/fsiino/thuro/blob/master/app/assets/images/feature-icons.png?raw=true');
  background-size: 151px 150px;
  background-repeat: none;
  width: 30px;
  height: 30px;
  margin-left: 6;
  margin-right: 3px;
  display: inline-block;
}

.car-show-feature-standard-container {
  display: flex;
  justify-content: space-around;
}

.car-show-features-standard-text {
  color: #231f20;
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  padding-left: 2px;
}

.car-show-std-feat-container {

  .item-1 {
    grid-area: f-trans;
    padding: 6px; 
    display: flex;   
  }
  .item-2 {
    grid-area: f-doors;
    padding: 6px;
    display: flex;   
  }
  .item-3 {
    grid-area: f-seats;
    padding: 6px; 
    display: flex;    
  }
  .item-4 {
    grid-area: f-mpg;
    padding: 6px;
    display: flex; 
  }
}

  .car-show-std-feat-grid {
    justify-content: left;
    width: 75%;
    display: grid;
    grid-template-columns: 21vw 20vw;
    grid-template-areas: 
    "f-trans f-doors"
    "f-seats f-mpg";
  }