body {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    display: block;
}

.main-container {
    background-image: url('https://github.com/fsiino/turo-clone/blob/master/app/assets/images/mustang_joshua_tree_cropped.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 615px;
    background-position: center;
    position: relative;
    // z-index: -1;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.banner {
    font-family: Freight,HoeflerText-Black,Times New Roman,serif;
    font-size: 72px;
    font-weight: inherit;
    box-sizing: border-box;
    text-align: center;
    padding: 0px 10% 0px 10%;
    cursor: text;
}

.caption {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    cursor: text;    
}

.spacer {
    height: 130px;
}

.main-social {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-shadow: 2px 2px 4px #000000;
    padding-right: 5px;

}

.main-social-icon {
    height:20px;
    padding-right: 5px;
}