.maintimedd {
    line-height: 24px;
    margin: 0;
    width: 100px;
    // padding: 3px 10px;
    padding: 3px 0px;
    font-size: 18px;
    border: 1px solid #c7c7c7;
    color: #231f20;
    width: 102px;
    background: white;
    border: none;
}

.main-date {
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    border: 1px solid #ffffff;
    width: 130px;
}

.main-datetime-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 2px 0 2px;

    /* Removes the clear button from date inputs */
  input[type="date"]::-webkit-clear-button {
      display: none;
  }

  /* Removes the spin button */
  input[type="date"]::-webkit-inner-spin-button { 
      display: none;
  }

  /* Always display the drop down caret */
  input[type="date"]::-webkit-calendar-picker-indicator {
      color: #2c3e50;
  }

}
