body {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    display: block;
    // background-image: url('https://github.com/fsiino/turo-clone/blob/master/app/assets/images/mustang_joshua_tree_cropped2.jpg?raw=true');
    // background-size: 100% 655px;
    // background-repeat: no-repeat;
    // background-position-x: 5%;    
}

.main-container {
    background-image: url('https://github.com/fsiino/turo-clone/blob/master/app/assets/images/mustang_joshua_tree_cropped2.jpg?raw=true');
    background-size: 90%;
      background-size: cover;
    background-repeat: no-repeat;
    // background-position-x: 5%;   
    display: block;
    // width: 1070px;
    height: 613px;
    // position: fixed;
    background-position: 0px -171px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.banner {
    font-family: Freight,HoeflerText-Black,Times New Roman,serif;
    font-size: 72px;
    font-weight: normal;
    box-sizing: border-box;
    text-align: center;
    
}

.caption {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
}

.spacer {
    height: 140px;
}