body {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    display: block;
    background-image: url('https://cnet4.cbsistatic.com/img/bbJbsoxat6rBaqSh-kmFnePvkFs=/2019/05/03/b36c058f-7451-49d6-b94f-1b111e418dd2/2019-ford-shelby-gt-s-mustang-rental-car-25.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    background-position-x: 5%;    
}

a {
  color: #FFFFFF;
  text-decoration: none;
}