.mid-container {
  color: #231f20;
  padding: 0px 17% 0px 17%;
  margin: 14px 148px 8px 126px;
}

.mid-h2 {
  text-align: center;
  font-family: Plantin,AmericanTypewriter-Condensed,Times New Roman,serif;
  line-height: 1.2;
  text-transform: uppercase;  
  font-size: 24px;
  font-weight: 400;
}

.mid-h3 {
  text-align: center;
  font-family: Freight,HoeflerText-Black,Times New Roman,serif;
  font-size: 46px;
}

.mid-header {
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.mid-desc {
  color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

// begin grid

.item-1 {
  grid-area: icon1;
}
.item-2 {
  grid-area: blurb1;
}
.item-3 {
  grid-area: icon2;
}
.item-4 {
  grid-area: blurb2;
}
.item-5 {
  grid-area: icon3;
}
.item-6 {
  grid-area: blurb3;
}
.item-7 {
  grid-area: icon4;
}
.item-8 {
  grid-area: blurb4;
}

.grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 65px 383px 65px 383px;
  grid-template-rows: 176px 160px;
  grid-template-areas: 
    "icon1 blurb1 icon2 blurb2"
    "icon3 blurb3 icon4 blurb4";
  color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

// end grid

.post-grid {
  border: none;
  color: white;
  background-color: #59d389;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  padding: 11px 18px ;
  opacity: 0.75;
  transition: 0.7s;   
}

.post-grid:hover {opacity: 1}

.wires-container {
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/mid-bg.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 615px;
  background-position: center;
  position: relative;
  text-align: center;

    button { 
    border: 1px solid black;
    color: #231F20;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    padding: 11px 18px ;
    transition: 0.8s;    
  }

    button:hover {
    background-color: #8f63f4;
    color: white;
  }    

}

.wires-header {
  font-family: Freight,HoeflerText-Black,Times New Roman,serif;
  line-height: 1;
  font-size: 56px;
  color: #231F20;
  text-align: center;
  padding-top: 170px;
}

.wires-text {
  color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: center;
}

.porsche {
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/porsche.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 560px;
  background-position: center;
  position: relative;
  text-align: center;  

  button {
    border: 1px solid black;
    color: black;
    background-color: white;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    padding: 11px 18px ;
    opacity: 1;
    transition: 0.7s;   
  }

  button:hover {
    opacity: 0.1;
    border: 1px solid white;
    cursor: not-allowed;
  }

}

.porsche-h3 {
  font-family: Plantin,AmericanTypewriter-Condensed,Times New Roman,serif;
  line-height: 1.2;
  text-transform: uppercase;  
  font-size: 22px;
}

.porsche-h2 {
  font-family: Freight,HoeflerText-Black,Times New Roman,serif;
  line-height: 1;
  font-weight: 400;
  font-size: 62px;
}

.porsche-p {
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 35%;
  margin-right: 35%;
}

.book-container {
  display: flex;
  justify-content: space-between;
  margin: 60px 25% 0px 25%;
}

.book-header {
  font-size: 56px;
  color: #231F20;
  font-family: Freight,HoeflerText-Black,Times New Roman,serif;
  line-height: 1;
}

.book-desc {
  color: #231F20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.book-separator {
  padding: 50px 0px 0px 32px;
}

.book-pic {
  max-width: 400px;
  max-height: 225px;
  padding-top: 50px;
}

.porsche-container {
  padding-top:60px;
}