// login and signup modal

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-x {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.modal-form-header {
  font-family: Freight,HoeflerText-Black,Times New Roman,serif;
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
  margin: 30px 0 10px;
  text-transform: none;
  font-weight: 0;
}

.modal-container {
  align-content: center;
}

.modal-bottom {
  text-align: center;
  align-content: center;
  
}

.modal-bottom button {
  background: #231f20;
  color: #ffffff;
  border: none;
  font-size: 16px;  
  border: 1px solid #ffffff;
  padding: 8px 14px;
  background: transparent;
  align-content: center;
  cursor: pointer;
}

.modal-form {
  width: 396px;
  height: 534px;
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/modal-bg.jpg?raw=true');
  border: 1px solid black;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 1.5;
  display: block;
  border-radius: 8px;
  padding: 20px;
  align-content: center;
}

.modal-form, .review-modal-form input[type="text"], input[type="password"] {
  font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  width: 100%;
  height: 35px;
  font-size: 13px;
  color: #231F20;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px #ddd;
}

// .modal-form input[type="text"] {
//   font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
//   width: 98.5%;
//   height: 35px;
//   font-size: 13px;
//   color: #231F20;
// }

// .modal-form input[type="password"] {
//   width: 98.5%;
//   height:35px;
// }

.modal-form, .review-modal-form input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #59D389;
  color: #FFFFFF;
  font-weight: 100;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 18px;
  border: 0px;
  cursor: pointer;
}

// review form

.review-modal-container {
  align-content: center;
  color: #000;
}

.review-modal-textarea {
  width: 100%;
  height: 180px;
  max-height: 180px;
  border: 1px solid #ddd;
}

.review-modal-form {
  width: 396px;
  height: 534px;
  // background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/modal-bg.jpg?raw=true');
  background: #f7f7f7;
  border: 1px solid black;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 1.5;
  display: block;
  border-radius: 8px;
  padding: 20px;
  align-content: center;

  input:focus, textarea:focus, select:focus {
    border: 1px solid #000;
    outline: none !important; 
  }

}