.navbar {
  background-color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 5;
  padding-right: 265px;
  padding-left: 60px;
  font-size: 13px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbutton {
  // background: #231f20;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 13px;
}

.navbutton:hover {
  // background: #231f20;
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.navitems {
  vertical-align: text-bottom;
  line-height: 5;
  padding-right: 555px;
}

.nav-item-wrapper {
  padding-top: 13px;
  padding-left: 209px;
}

.nav-profile {
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/profile-icon.png?raw=true');
  background-size: 39px 35px;
  position: relative;
  padding: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navlogo {
  background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/torino-logo.png?raw=true');
  background-size: 50%;
  width: 157px;
  position: absolute;
  padding: 22px;
  background-repeat: no-repeat;
}