.navcontainer {
}

.navbar {
  background-color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  line-height: 6.5;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 13px;
  height: 85px;
  display: flex;
  vertical-align: text-bottom;
  justify-content: space-between;
}

.navitems {
  vertical-align: text-bottom;
  line-height: 20px;
}

.navlogo {
  background: url('https://images-na.ssl-images-amazon.com/images/I/81xQBb5jRzL._SY355_.jpg');
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  // padding-left: 30px;
  position: relative;
  // background-repeat: no-repeat;
  // height: 10%;
  // width: 10%;
  // background-position-x: 10px;
  // background-position-y: 10px;
}