.navbar {
  background-color: #231f20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 5;
  padding-right: 265px;
  padding-left: 15px;
  font-size: 13px;
  height: 60px;
  display: flex;
  vertical-align: text-bottom;
  justify-content: space-between;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.navbutton {
  background: #231f20;
  color: #ffffff;
  border: none;
  font-size: 13px;
}

.navbutton:hover{
  background: #231f20;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.navitems {
  vertical-align: text-bottom;
  line-height: 5;
  padding-right: 555px;
}

.navlogo {
  // background: url('https://images-na.ssl-images-amazon.com/images/I/81xQBb5jRzL._SY355_.jpg');
  // background-position: left top;
  // background-attachment: fixed;
  // background-size: cover;
  // position: relative;
  // background-repeat: no-repeat;
  // height: 10%;
  // width: 10%;
  // background-position-x: 10px;
  // background-position-y: 10px;
}