.rental-form-wrapper {
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
  font-size: 20px;
  width: 100%;


  button {
    border: none;
    color: white;
    background-color: #59d389;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    opacity: 0.8;
    transition: 0.7s;   
  }

  button:hover {
    opacity: 1;
    background-color: #59d389;
  }

}

#pre-rental {

}

#rental-requested {
  height: 70px;
  color: white;
  background-color: #59d389;
  opacity: 0.8;

  h2 {
    padding: 27px 0 27px 0
  }

}

#rentals-idx-btn {
  display: none;
}

.rental-date-time-wrapper {
  display: flex;
  justify-content: space-around;
}

.rental-form-login {
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;

    button {
    height: 40px;
    border: none;
    color: white;
    background-color: #59d389;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.8;
    transition: 0.7s;   
  }

  button:hover {
    opacity: 1;
    background-color: #59d389;
  }
  
}

