.rental-index-container {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.rental-index-tile {
  box-shadow: 10px 10px 8px #888888;
  margin: 15px 0 0 0;
  width: 80vw;
  background: #fafafa;
  padding: 5px;
  display: flex;
  justify-content: space-around;  
}

.rental-index-tile-details {
  color: #231F20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
}