.rental-index-container {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.rental-index-tile {
  box-shadow: 1px 2px 4px 4px #888888;
  margin: 15px 0 0 0;
  width: 900px;
  background: #fafafa;
  padding: 10px;
  display: flex;
  justify-content: space-between;  

  .car-price {
    display: none;
  }

  .car-tile-container {
    padding: 0 0 0 0;
  }

}

.rental-index-tile-details {
  color: #231F20;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;

  button {
    border: none;
    color: white;
    background-color: #e92727;
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.7s;  
    height: auto; 
    padding: 5px;
  }

  button:hover {
    opacity: 1;
    background-color: #e92727;
  }
}

.rental-index-no-rentals {
  color: black;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;


  a {
    color: black;
    text-decoration-line: underline;
  }
}