.search-container {
  color: #231f20;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
  background: #ffffff;
  font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;

  border-radius: 100px;
}
  .search-subcontainer {
    align-content: center;
  }

  .search-header {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    color: #231f20;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.5;
  }

  .search-form {
    align-items: center;
    background-color: white;
    // width: 800px;
    margin: 0 auto;
    text-align: center;
    
    label {
      margin-left: 20px;
    } 

    input[type="text"] {
      width: 100%;
    }

    .search-button {
      background-image: url('https://github.com/fsiino/torino/blob/master/app/assets/images/search-glass.png?raw=true');
      background-position: center;
      background-size: 40px 40px;
      outline: none !important;
      border-radius: 999em;
      align-self: center;
      width: 40px;
      height: 40px;
      background-color: #59d389;
    }
  }

  .search-where-div {
    display: flex;
    flex-direction: column;
  }

  .search-where-input {
    display: flex;
    flex-direction: column;
  }